modules = ["nodejs-24", "python-3.11"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "engine: Paper Engine"

[[workflows.workflow]]
name = "engine: Paper Engine"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = ".pythonlibs/bin/uvicorn engine.paper_engine:app --host 0.0.0.0 --port 8000"
waitForPort = 8000

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
TELEGRAM_API_ID = "36505786"
TELEGRAM_API_HASH = "6e33afe2ec0427557b0848af83940991"
HELIUS_RPC_URL = "https://mainnet.helius-rpc.com/?api-key=c89daa85-c179-436c-b94e-37fab930263d"
HELIUS_ENHANCED_API = "https://api-mainnet.helius-rpc.com/v0/transactions/?api-key=c89daa85-c179-436c-b94e-37fab930263d"
TELEGRAM_CHAT_ID = "6724196119"
TELEGRAM_BOT_TOKEN = "8290826434:AAEn2KvPmmY_h9KAO2wjuECXB0XKzTbytRM"
DRY_RUN = "true"

[nix]
channel = "stable-25_05"
